{% extends 'admin/base_template.html' %}
{% load static %}
{% load get_item %}

{% block css %} 
<link rel="stylesheet" href="{% static 'assets/css/variants.css' %}">
{% endblock %}


{% block title %} Форма продукта {% endblock %}


{% block page_title %} Форма продукта {% endblock %}

{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item ">
        <a href="{% url 'articles_list' %}">Статьи</a>
    </li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Добавление
    </li>
</ol>
{% endblock %}

{% block content_width %} class="col-12" {% endblock %}


{% block content %}
<form class="row" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="dropzone-key" value="{{ dropzone_key }}">
    <input type="hidden" name="id" value="{{ object.id }}">
    <input type="hidden" name="url" value="{{ request.get_full_path }}">
    <div class="col-12 col-xl-8">
        <div class="card mt-3">
            <div class="crd-header p-4 pb-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for lang in langs %}
                        {% if lang == langs.first %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link px-3 py-2 active" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                                    data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                                    aria-selected="true">{{ lang.name }}</button>
                            </li>
                        {% else %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link px-3 py-2" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                                    data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                                    aria-selected="false">{{ lang.name }}</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="card-body p-5 pt-4">
                <div class="tab-content" id="myTabContent">
                    {% for lang in langs %}
                        <div {% if lang == langs.first %} class="tab-pane fade show active" {% else %} class="tab-pane fade" {% endif %} id="{{ lang.code }}" role="tabpanel"
                            aria-labelledby="{{ lang.code }}">
                        
                            <!-- Project name -->
                            <div class="form-group">
                                <!-- Label  -->
                                <label {% if lang.default %} class="form-label required" {% else %} class="form-label"
                                    {% endif %}>
                                    Название
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" name="name#{{ lang.code }}" class="form-control" 
                                {% if object and object.name|get_item:lang.code %} value="{{ object.name|get_item:lang.code }}" 
                                {% elif request_post and request_post|get_item:'name' %}
                                    value="{{ request_post|get_item:'name'|get_item:lang.code }}" {% endif %}>
                                {% if lang.default %}
                                <div class="invalid-feedback" style="display: block;">
                                    {% if name_error %}
                                    {{ name_error }}
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <!-- Label  -->
                                <label class="form-label">
                                    Производитель
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" name="manufacturer#{{ lang.code }}" 
                                {% if object and object.manufacturer|get_item:lang.code %}
                                    value="{{ object.manufacturer|get_item:lang.code }}" 
                                {% elif request_post and request_post|get_item:'manufacturer' %}
                                    value="{{ request_post|get_item:'manufacturer'|get_item:lang.code }}" 
                                {% endif %} class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- Label  -->
                                <label class="form-label">
                                    Тип
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" name="type#{{ lang.code }}" {% if object.type %}
                                    value="{{ object.type|get_item:lang.code }}" 
                                    {% elif request_post and request_post|get_item:'type' %}
                                    value="{{ request_post|get_item:'type'|get_item:lang.code }}" {% endif %}
                                    class="form-control">
                            </div>
                            <!-- Project description -->
                            <div class="form-group">
                                <!-- Label -->
                                <label class="form-label mb-1">
                                    Описание
                                </label>
                                <br>
                                <!-- Textarea -->
                                <textarea class="editor" name="description#{{ lang.code }}" placeholder="Text">
                                    {% if object and object.description|get_item:lang.code %} 
                                        {{ object.description|get_item:lang.code }} 
                                    {% elif request_post and request_post|get_item:'description' %}
                                        {{ request_post|get_item:'description'|get_item:lang.code }}
                                    {% endif %}</textarea>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card mt-3">
            <div class="card-body p-4">
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Категории
                    </label>
                    <br>
                    <!-- Input -->
                    <select class="form-control" data-choices name="category">
                        {% for ctg in relateds %}
                        {% if object and ctg == object.category %}
                        <option value="{{ ctg.id }}" selected>{{ ctg.name|get_item:lang.code }}</option>
                        {% elif request_post and ctg.id == request_post|get_item:'category' %}
                        <option value="{{ ctg.id }}" selected>{{ ctg.name|get_item:lang.code }}</option>
                        {% else %}
                        <option value="{{ ctg.id }}">{{ ctg.name|get_item:lang.code }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>


                    <div class="invalid-feedback" style="display: block;">
                        {% if category_error %}
                        {{ category_error }}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-2">
                        <div class="form-check form-switch">
                            <input type="checkbox" name="status" class="form-check-input" id="id_active" checked>
                            <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                        </div>
                    </div>
                </div>
                <br>

                <div class="btn-box text-end">
                    <a href="#" class="btn w-30 btn-secondary">
                        Отменить
                    </a>
                    <input type="submit" href="#" class="btn w-40 btn-primary" value="Сохранить">
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-xl-12">
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
            <div class="blog_container">
                <div class="blog_control">
                    <div class="blog_header">
                        <h2>Вариация 1</h2>
                        <p>Главный товар {{ variant_form.default }}</p>
                    </div>
                    <div class="blog_body">
                        <div class="form_control">
                            <div class="input_box">
                                <label for="color">Цвета</label>
                                <select name="color" id="price">
                                    {% for color in colors %}
                                    <option value="{{ color.id }}">{{ color.name|get_item:lang.code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input_box">
                                <label for="color">Цена</label>
                                <input type="number" name="price">
                            </div>
                            <div class="input_box">
                                <label for="color">Артикул</label>
                                <input type="text" name="code">
                            </div>
                            <span id="atributs_wrap"></span>
                        </div>
                        <div class="blog_images">
                            <div class="images_title">
                                <h5>Изображение товара</h5>
                            </div>
                            <div class="image_file_control">
                                <div class="image_file">
                                    <span class="delete_img no-ajax">x</span>
                                    <input type="file" class="image_input" id="input" name="file" />
                                    <img class="image_files" src="./images/media-content-image.png" alt="" />
                                    <span class="img_text">Добавить изображение</span>
                                    <div class="display-image"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Form -->



<!-- JAVASCRIPT -->
<script>
    for (let txt of document.querySelectorAll('.editor')) {
        CKEDITOR.replace(txt)
    }
</script>

<!-- Map JS -->

<!-- Vendor JS -->
{% endblock %}