{% extends 'admin/base_template.html' %}
{% load static %}
{% load get_item %}
{% load range %}

{% block css %} 
<link rel="stylesheet" href="{% static 'assets/css/variants.css' %}">
{% endblock %}


{% block title %} Форма продукта {% endblock %}


{% block page_title %} Форма продукта {% endblock %}

{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item ">
        <a href="{% url 'products_list' %}">Продукты</a>
    </li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Добавление
    </li>
</ol>
{% endblock %}

{% block content_width %} class="col-12" {% endblock %}


{% block content %}
<form class="row" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="variant_count" {% if not object %} value="1" {% else %} value="{{ object.variants.count }}" {% endif %}>
    <input type="hidden" name="dropzone-key" value="{{ dropzone_key }}">
    <input type="hidden" name="id" value="{{ object.id }}">
    <input type="hidden" name="url" value="{{ request.get_full_path }}">
    <div class="col-12 col-xl-8">
        <div class="card mt-3">
            <div class="crd-header p-4 pb-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for lang in langs %}
                        {% if lang == langs.first %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link px-3 py-2 active" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                                    data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                                    aria-selected="true">{{ lang.name }}</button>
                            </li>
                        {% else %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link px-3 py-2" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                                    data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                                    aria-selected="false">{{ lang.name }}</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="card-body p-5 pt-4">
                <div class="tab-content" id="myTabContent">
                    {% for lang in langs %}
                        <div {% if lang == langs.first %} class="tab-pane fade show active" {% else %} class="tab-pane fade" {% endif %} id="{{ lang.code }}" role="tabpanel"
                            aria-labelledby="{{ lang.code }}">
                        
                            <!-- Project name -->
                            <div class="form-group">
                                <!-- Label  -->
                                <label {% if lang.default %} class="form-label required" {% else %} class="form-label"
                                    {% endif %}>
                                    Название
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" {% if lang.default %} required {% endif %} name="name#{{ lang.code }}" class="form-control" 
                                {% if object and object.name|get_item:lang.code %} value="{{ object.name|get_item:lang.code }}" {% endif %}>
                                {% if lang.default %}
                                <div class="invalid-feedback" style="display: block;">
                                    {% if name_error %}
                                    {{ name_error }}
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <!-- Label  -->
                                <label class="form-label">
                                    Производитель
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" name="manufacturer#{{ lang.code }}" 
                                {% if object and object.manufacturer|get_item:lang.code %}
                                    value="{{ object.manufacturer|get_item:lang.code }}"
                                {% endif %} class="form-control">
                            </div>

                            <div class="form-group">
                                <!-- Label  -->
                                <label class="form-label">
                                    Тип
                                </label>
                                <br>
                                <!-- Input -->
                                <input type="text" name="type#{{ lang.code }}" {% if object.type %}
                                    value="{{ object.type|get_item:lang.code }}" {% endif %}
                                    class="form-control">
                            </div>
                            <!-- Project description -->
                            <div class="form-group">
                                <!-- Label -->
                                <label class="form-label mb-1">
                                    Описание
                                </label>
                                <br>
                                <!-- Textarea -->
                                <textarea class="editor" name="description#{{ lang.code }}" placeholder="Text">
                                    {% if object and object.description|get_item:lang.code %} 
                                        {{ object.description|get_item:lang.code }} 
                                    {% elif request_post and request_post|get_item:'description' %}
                                        {{ request_post|get_item:'description'|get_item:lang.code }}
                                    {% endif %}</textarea>
                            </div>
                            <div class="col-12">
                                <h2 class="">SEO теги</h2>
                                <hr>
                                <div class="form-group">
                                    <label for="meta_desc" class="form-label">Мета описание</label>
                                    <input type="text" class="form-control " name="meta_deck#{{ lang.code }}" 
                                    {% if object.meta and object.meta.meta_deck|get_item:lang.code %} value="{{ object.meta.meta_deck|get_item:lang.code }}" {% endif %} id="meta_desc" placeholder="Мета описание">
                                </div>
                                <div class="form-group">
                                    <label for="meta_keywords" class="form-label">Мета ключи</label>
                                    <input type="text" class="form-control " name="meta_keys#{{ lang.code }}" 
                                    {% if object.meta and object.meta.meta_keys|get_item:lang.code %} 
                                        value="{{ object.meta.meta_keys|get_item:lang.code }}" 
                                    {% endif %} id="meta_keywords" placeholder="Мета ключи">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card mt-3">
            <div class="card-body p-4">
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Категории
                    </label>
                    <br>
                    <!-- Input -->
                    <select {% if object %} class="form-control ctg_select" {% else %} class="form-control" {% endif %} id="product_ctg_select" name="category" data-choices>
                        <option value="">-----</option>
                        {% for ctg in relateds %}
                            {% if object and ctg == object.category %}
                                <option value="{{ ctg.id }}" selected>{{ ctg.name|get_item:lang.code }}</option>
                            {% elif request_post and ctg.id == request_post|get_item:'category' %}
                                <option value="{{ ctg.id }}" selected>{{ ctg.name|get_item:lang.code }}</option>
                            {% else %}
                                <option value="{{ ctg.id }}">{{ ctg.name|get_item:lang.code }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>


                    <div class="invalid-feedback" style="display: block;">
                        {% if category_error %}
                        {{ category_error }}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-2">
                        <div class="form-check form-switch">
                            <input type="checkbox" name="status" class="form-check-input" id="id_active" checked>
                            <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                        </div>
                    </div>
                </div>
                <br>

                <div class="btn-box text-end">
                    <a href="#" class="btn w-30 btn-secondary">
                        Отменить
                    </a>
                    <input type="submit" href="#" class="btn w-40 btn-primary" value="Сохранить">
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-xl-12" style="padding-bottom: 30px;">
        <span id="products_variant_container">
            {% if not object %}
                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10 mb-5">
                    <div class="blog_container">
                        <div class="blog_control">
                            <div class="blog_header">
                                <h2>Вариация 1</h2>
                                <p>Главный товар {{ variant_form.default }}</p>
                            </div>
                            <div class="blog_body">
                                <div class="form_control">
                                    <div class="input_box">
                                        <label for="color">Цвета</label>
                                        <select name="color[1]" id="color" required>
                                            <option value="">-----</option>
                                            {% for color in colors %}
                                            <option value="{{ color.id }}">{{ color.name|get_item:lang.code }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input_box">
                                        <label for="price">Цена</label>
                                        <input type="number" name="price[1]" required>
                                    </div>
                                    <div class="input_box">
                                        <label for="color">Артикул</label>
                                        <input type="text" name="code[1]" required>
                                    </div>
                                    <span class="atributs_wrap" data-item="1"></span>
                                </div><br>
                                <div class="row">
                                    <div class="col-12 col-xl-2">
                                        <div class="form-check form-switch">
                                            <input type="checkbox" name="default[1]" class="form-check-input is_default" checked>
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Default</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-2">
                                        <div class="form-check form-switch">
                                            <input type="checkbox" name="top[1]" class="form-check-input" checked>
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Top</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog_images">
                                    <div class="images_title">
                                        <h5>Изображение товара</h5>
                                    </div>
                                    <div class="image_file_control">
                                        <div class="image_file">
                                            <span class="delete_img no-ajax">x</span>
                                            <input type="file" class="image_input" id="input" name="image[1]" />
                                            <img class="image_files" src="" alt="" />
                                            <span class="img_text">Добавить изображение</span>
                                            <div class="display-image"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif variants %}
                {% for variant, i in variants.pairs %}
                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10 mb-5">
                        <div class="blog_container">
                            <div class="blog_control">
                                <div class="blog_header">
                                    <h2>Вариация {{ i }}</h2>
                                    <p>Главный товар {{ variant_form.default }}</p>
                                </div>
                                <div class="blog_body">
                                    <div class="form_control">
                                        <div class="input_box">
                                            <label for="color">Цвета</label>
                                            <select name="color[{{ i }}]" required>
                                                <option value="">-----</option>
                                                {% for color in colors %}
                                                    {% if variant.color == color %}
                                                        <option value="{{ color.id }}" selected>{{ color.name|get_item:lang.code }}</option>
                                                    {% else %}
                                                        <option value="{{ color.id }}">{{ color.name|get_item:lang.code }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="input_box">
                                            <label for="price">Цена</label>
                                            <input type="number" class="form-control" value="{{ variant.price }}" name="price[{{ i }}]" required>
                                        </div>
                                        <div class="input_box">
                                            <label for="color">Артикул</label>
                                            <input type="text" value="{{ variant.code }}" name="code[{{ i }}]" required>
                                        </div>
                                        <span class="atributs_wrap" data-item="{{ i }}" required>
                                            
                                            {% for atribut in object.category.atributs.all %}
                                            <div class="input_box">
                                                <label for="color">{{ atribut.name|get_item:lang.code }}</label>
                                                <select name="option[{{ i }}]" id="options_{{i}}_{{atribut.id}}" class='form-select'>
                                                    <option value="">-----</option>
                                                {% for opt in atribut.options.all %}
                                                    {% if opt in variant.options.all %}
                                                        <option value="{{ opt.id }}" selected>{{ opt.name|get_item:lang.code }}</option>
                                                    {% else %}
                                                        <option value="{{ opt.id }}">{{ opt.name|get_item:lang.code }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                                </select>
                                            </div>
                                            {% endfor %}
                                        </span>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-12 col-xl-2">
                                            <div class="form-check form-switch">
                                                <input type="checkbox" name="default[{{ i }}]" class="form-check-input is_default" id="id_active" {% if variant.default %} checked {% endif %}>
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Default</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-2">
                                            <div class="form-check form-switch">
                                                <input type="checkbox" name="top[{{ i }}]" class="form-check-input" id="id_active" {% if variant.top %} checked {% endif %}>
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Top</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog_images">
                                        <div class="images_title">
                                            <h5>Изображение товара</h5>
                                        </div>
                                        <div class="image_file_control">
                                            <div class="image_file">
                                                <span class="img_text">Добавить изображение</span>
                                                <input type="file" class="image_input" id="input" name="image[{{ i }}]" />
                                                {% if variant.image %}
                                                <div class="display-image"
                                                    style="background-image: url('{{ variant.image.url }}'); display:block;"></div>
                                                {% else %}
                                                <div class="display-image"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </span>
        <button type="button" class="add-variant-button new-variant-btn" id="add_new_atribut">+ Новый вариант</button>
    </div>
</form>
<!-- Form -->



<!-- JAVASCRIPT -->
<script src="{% static 'assets/js/add_product.js' %}"></script>
<script>
    for (let txt of document.querySelectorAll('.editor')) {
        CKEDITOR.replace(txt)
    }



    $('#add_new_atribut').on("click", () => {
        $('input[name="variant_count"]').val(Number($('input[name="variant_count"]').val()) + 1)
        let curent_nbm = Number($('input[name="variant_count"]').val()) 
        $('.delete_variant_btn.no-ajax').last().remove()

        let new_html = `
            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10 mb-5">
                <div class="blog_container">
                    <span class="del_btn_container">
                        <span class="delete_variant_btn no-ajax" data-id="${curent_nbm}">&#215;</span>
                    </span>
                    <div class="blog_control">
                        <div class="blog_header">
                            <h2>Вариация ${curent_nbm}</h2>
                            <p>Главный товар {{ variant_form.default }}</p>
                        </div>
                        <div class="blog_body">
                            <div class="form_control">
                                <div class="input_box">
                                    <label for="color">Цвета</label>
                                    <select name="color[${curent_nbm}]" required id="color">
                                        {% for color in colors %}
                                        <option value="{{ color.id }}">{{ color.name|get_item:lang.code }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input_box">
                                    <label for="price">Цена</label>
                                    <input type="number" required name="price[${curent_nbm}]">
                                </div>
                                <div class="input_box">
                                    <label for="color">Артикул</label>
                                    <input type="text" required name="code[${curent_nbm}]">
                                </div>
                                <span class="atributs_wrap" data-item="${curent_nbm}">
                                    {% for atribut in object.category.atributs.all %}
                                        <div class="input_box">
                                            <label for="color">{{ atribut.name|get_item:lang.code }}</label>
                                            <select name="option[${curent_nbm}]" id="options$_curent_nbm_{{atribut.id}}" class='form-select'>
                                            <option value="">-----</option>
                                            {% for opt in atribut.options.all %}
                                                <option value="{{ opt.id }}">{{ opt.name|get_item:lang.code }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    {% endfor %}
                                </span>
                            </div>
                            <br>
                            <div class="row">
                                    <div class="col-12 col-xl-2">
                                        <div class="form-check form-switch">
                                            <input type="checkbox" name="default[${curent_nbm}]" class="form-check-input is_default" id="id_active">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Default</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-2">
                                        <div class="form-check form-switch">
                                            <input type="checkbox" name="top[${curent_nbm}]" class="form-check-input" id="id_active">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Top</label>
                                        </div>
                                    </div>
                                </div>
                            <div class="blog_images">
                                <div class="images_title">
                                    <h5>Изображение товара</h5>
                                </div>
                                <div class="image_file_control">
                                    <div class="image_file">
                                        <span class="delete_img no-ajax">x</span>
                                        <input type="file" class="image_input" id="input" name="image[${curent_nbm}]" />
                                        <img class="image_files" src="" alt="" />
                                        <span class="img_text">Добавить изображение</span>
                                        <div class="display-image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `

        document.getElementById('products_variant_container').insertAdjacentHTML('beforeend', new_html);

        if (category_atributs != undefined) {
            let wrap = document.querySelector(`span[data-item="${curent_nbm}"]`)
            console.log(wrap)
            fill_atributs(wrap, category_atributs)
        }

    })
</script>

<!-- Map JS -->

<!-- Vendor JS -->
{% endblock %}